<footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-6">
          <div class="logo">ServiceConnect</div>
          <div class="logop text-white"><p>Honest reviews from honest people</p></div>
        </div>
        <div class="col-12 col-xl-3 text-white">
          <div class="logopp"><p>Links</p></div>
          <div class="logop"><span><a href="{% url 'all_category' %}">Categories</a></span></div>
          <div class="logop"><span><a href="aboutus">About Us</a></span></div>
        </div>
        <div class="col-12 col-xl-3 text-white mb-3" id="contactus">
          <div class="logopp"><p>Contact Us</p></div>
          <div class="logop"><span><i class="fa-solid fa-envelope"></i></span><span><a href="mailto:christopheramah1@gmail.com"> info@serviceconnect.com</a></span></div>
          {% comment %} <div class="logop"><span><i class="fa-brands fa-x-twitter">  </i></span> <span><i class="fa-brands fa-linkedin"></i></span></div> {% endcomment %}
          <div class="logop"><span><a href="tel:">08105938812</a></span></div>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-12 col-xl-4"></div>
        <div class="col-12 col-xl-4"></div>
        <div class="col-12 col-xl-4">
          <div class="logop text-white"><p>&copy; 2024 <strong>ServiceConnect</strong>. All rights reserved</p></div>
        </div>
      </div>
    </div>
  </footer>