<section class="review container fluid mb-5 py-5" id="review">
    <div class="text-center top">Write a review</div>
    <div class="comment text-center"><p>You’re our eyes and ears out there. We’d love to hear what you have to say!</p></div>
    <div class="mb-3 form">
      <div class="form-floating position-relative">
        <textarea class="form-control" placeholder="Leave a review here" id="floatingTextarea2" style="height: 400px"></textarea>
        <label for="floatingTextarea2">Leave a review...</label>
        <button class="btn position-absolute bottom-0 start-0 mb-2 ms-2" type="submit">Post a review</button>
      </div>
    </div>
  </section>
  